div {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}

span {
    width: 30px;
    border: 1px solid;
    padding: 5px;
    user-select: none;
}

span.selected {
    background: #adf;
}

span:hover:not(.selected) {
    background: #cfefff;
}

